{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                    Corsair
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                            <img title="Corsair K70" src="{{ url_for('static',filename='img/keyboard5.jpg') }}" alt="Corsair K70">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                        1990
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/keyboard5.html">
                                    <u>
                                        Corsair K70
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/corsair.html">
                                    <u>
                                        Corsair Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
    </div>
{% endblock %}
