{% extends './HTML/product.html' %}

{% block product_name %}
Razer Nari
{% endblock %}

{% block product_name2 %}
Razer Nari
{% endblock %}

<!-- 注意继承图片链接时必须将url_for函数整体写下来，如下面所示，不能只定义block位文件路径 -->
{% block product_img %}
{{ url_for('static',filename='img/headphone1.jpg') }}
{% endblock %}

{% block product_title %}
Razer Nari Gaming mice high quality
{% endblock %}

{% block product_price %}
230
{% endblock %}

{% block product_store %}
Razer Official Store
{% endblock %}

{% block product_path %}
../HTML/razer.html
{% endblock %}

{% block product_specification %}
                    <li>Frequency response: 20 Hz – 20 kHz</li>
                    <li>Impedance: 32Ω at 1 kHz</li>
                    <li>Sensitivity (@1 kHz): 107 ± 3 dB</li>
                    <li>Input power: 30 mW (Max)</li>
                    <li>Drivers: 50 mm, with Neodymium magnets</li>
                    <li>Inner ear cup diameter: Width 56mm / Length 67mm</li>
                    <li>Oval ear cushions: Designed for full-ear coverage with cooling gel, perfect for long-wearing
                        comfort</li>
                    <li>Connection type: Wireless USB Transceiver / 3.5mm analog</li>
                    <li>Wireless range: 12 m / 40 ft</li>
                    <li>Wireless frequency: 2.4 GHz</li>
                    <li>Analog connection: 4 – pole</li>
                    <li>Battery life: Up to 14 hours with Razer Chroma lighting / 20 hours without Razer Chroma lighting
                    </li>
{% endblock %}

{% block form_action %}
{{ url_for('addCart', product_name='Razer Nari') }}
{% endblock %}

{% block form_action2 %}
{{ url_for('removeCart', product_name='Razer Nari,') }}
{% endblock %}
