{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                    Headphone
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                            <img title="Razer Nari" src="{{ url_for('static',filename='img/headphone1.jpg') }}" alt="Razer Nari">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                        230
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/headphone1.html">
                                    <u>
                                        Razer Nari
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/razer.html">
                                    <u>
                                        Razer Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        <div class="height">
                                <img title="Zowie Hammer" src="{{ url_for('static',filename='img/headphone2.jpg') }}" alt="Zowie Hammer">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="myorders">
                            430
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/headphone2.html">
                                        <u>
                                            Hammer
                                        </u>
                                    </a>
                                </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/zowie.html">
                                        <u>
                                            Zowie Store
                                        </u>
                                    </a>
                                </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <div class="height">
                                    <img title="Logitech H340" src="{{ url_for('static',filename='img/headphone3.jpg') }}" alt="Logitech H340">
                            </div>  
                        </div>
                        <div class="col-md-3">
                            <div class="myorders">
                                330
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/headphone3.html">
                                            <u>
                                                Logitech H340
                                            </u>
                                        </a>
                                    </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/logitech.html">
                                            <u>
                                                Logi Store
                                            </u>
                                        </a>
                                    </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="height">
                                        <img title="Bose NC700" src="{{ url_for('static',filename='img/headphone4.jpg') }}" alt="Bose NC700">
                                </div>  
                            </div>
                            <div class="col-md-3">
                                <div class="myorders">
                                    2000
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/headphone4.html">
                                                <u>
                                                    Bose NC700
                                                </u>
                                            </a>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/bose.html">
                                                <u>
                                                    Bose Store
                                                </u>
                                            </a>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <div class="height">
                                            <img title="Solo Wireless" src="{{ url_for('static',filename='img/headphone5.jpg') }}" alt="Solo Wireless">
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="myorders">
                                        1990
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/headphone5.html">
                                                    <u>
                                                        Solo Wireless
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/beats.html">
                                                    <u>
                                                        Beats Store
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-3">
                                        <div class="height">
                                                <img title="Bose QuietComfort 35 wireless headphones II" src="{{ url_for('static',filename='img/headphone6.jpg') }}" alt="Bose QuietComfort 35 wireless headphones II">
                                        </div>  
                                    </div>
                                    <div class="col-md-3">
                                        <div class="myorders">
                                            2499
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="myorders">
                                                    <a href="../HTML/headphone6.html">
                                                        <u>
                                                               QuietComfort 35 
                                                        </u>
                                                    </a>
                                                </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="myorders">
                                                    <a href="../HTML/bose.html">
                                                        <u>
                                                            Bose Store
                                                        </u>
                                                    </a>
                                                </div>
                                    </div>
                                </div>
    </div>
</div>
{% endblock %}

