{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
        <div class="col-md-3">
            <div class="head">
                Keyboard
            </div>
        </div>
        <div class="col-md-3">
            <div class="head">
                Price
            </div>
        </div>
        <div class="col-md-3">
            <div class="head">
                Product
            </div>
        </div>
        <div class="col-md-3">
            <div class="head">
                Seller
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="height">
                <img title="blackwidow" src="{{ url_for('static',filename='img/keyboard1.jpg') }}" alt="blackwidow">
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                799
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/keyboard1.html">
                    <u>
                        BlackWidow
                    </u>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/razer.html">
                    <u>
                        Razer Store
                    </u>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="height">
                <img title="Logitech G813" src="{{ url_for('static',filename='img/keyboard2.jpg') }}"
                    alt="Logitech G813">
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                1100
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/keyboard2.html">
                    <u>
                        Logitech G813
                    </u>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/logitech.html">
                    <u>
                        Logi Store
                    </u>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="height">
                <img title="SteelSeries Apex 7" src="{{ url_for('static',filename='img/keyboard3.jpg') }}"
                    alt="SteelSeries Apex 7">
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                500
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/keyboard3.html">
                    <u>
                        Apex 7
                    </u>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/steelseries.html">
                    <u>
                        SteelSeries
                    </u>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="height">
                <img title="Zowie BenQ" src="{{ url_for('static',filename='img/keyboard4.jpg') }}" alt="Zowie BenQ">
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                800
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/keyboard4.html">
                    <u>
                        Zowie BenQ
                    </u>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/zowie.html">
                    <u>
                        Zowie Store
                    </u>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="height">
                <img title="Corsair K70" src="{{ url_for('static',filename='img/keyboard5.jpg') }}" alt="Corsair K70">
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                1990
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/keyboard5.html">
                    <u>
                        Corsair K70
                    </u>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/corsair.html">
                    <u>
                        Corsair Store
                    </u>
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="height">
                <img title="Razer Huntsman Elite" src="{{ url_for('static',filename='img/keyboard6.jpg') }}"
                    alt="Razer Huntsman Elite">
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                1349
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/keyboard6.html">
                    <u>
                        Huntsman Elite
                    </u>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="myorders">
                <a href="../HTML/razer.html">
                    <u>
                        Razer Store
                    </u>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}