{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                   Logitech
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                            <img title="Logitech G813" src="{{ url_for('static',filename='img/keyboard2.jpg') }}" alt="Logitech G813">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                        1100
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/keyboard2.html">
                                    <u>
                                        Logitech G813
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/logitech.html">
                                    <u>
                                        Logi Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        <div class="height">
                                <img title="Logitech G502" src="{{ url_for('static',filename='img/mouse2.jpg') }}" alt="Logitech G502">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="myorders">
                            350
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/mouse2.html">
                                        <u>
                                            Logitech G502
                                        </u>
                                    </a>
                                </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/logitech.html">
                                        <u>
                                            Logi Store
                                        </u>
                                    </a>
                                </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <div class="height">
                                    <img title="Logitech H340" src="{{ url_for('static',filename='img/headphone3.jpg') }}" alt="Logitech H340">
                            </div>  
                        </div>
                        <div class="col-md-3">
                            <div class="myorders">
                                330
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/headphone3.html">
                                            <u>
                                                Logitech H340
                                            </u>
                                        </a>
                                    </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/logitech.html">
                                            <u>
                                                Logi Store
                                            </u>
                                        </a>
                                    </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="height">
                                        <img title="Logitech G903" src="{{ url_for('static',filename='img/mouse6.jpg') }}" alt="Logitech G903">
                                </div>  
                            </div>
                            <div class="col-md-3">
                                <div class="myorders">
                                    979
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/mouse6.html">
                                                <u>
                                                        Logitech G903
                                                </u>
                                            </a>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/logitech.html">
                                                <u>
                                                    Logi Store
                                                </u>
                                            </a>
                                        </div>
                            </div>
                        </div>
    </div>
</div>

{% endblock %}
