{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                    Meizu
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                            <img title="Meizu 16Xs 64GB" src="{{ url_for('static',filename='img/phone3.jpg') }}" alt="Meizu 16Xs 64GB">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                        2290
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/phone3.html">
                                    <u>
                                        Meizu 16Xs
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/meizu.html">
                                    <u>
                                        Meizu Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
    </div>
{% endblock %}
