{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                    Mouse
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                            <img title="Razer DeathAdder" src="{{ url_for('static',filename='img/mouse1.jpg') }}" alt="Razer DeathAdder">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                        250
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/mouse1.html">
                                    <u>
                                        DeathAdder
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/razer.html">
                                    <u>
                                        Razer Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        <div class="height">
                                <img title="Logitech G502" src="{{ url_for('static',filename='img/mouse2.jpg') }}" alt="Logitech G502">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="myorders">
                            350
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/mouse2.html">
                                        <u>
                                            Logitech G502
                                        </u>
                                    </a>
                                </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/logitech.html">
                                        <u>
                                            Logi Store
                                        </u>
                                    </a>
                                </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <div class="height">
                                    <img title="Zowie S2" src="{{ url_for('static',filename='img/mouse3.jpg') }}" alt="Zowie S2">
                            </div>  
                        </div>
                        <div class="col-md-3">
                            <div class="myorders">
                                530
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/mouse3.html">
                                            <u>
                                                Zowie S2
                                            </u>
                                        </a>
                                    </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/zowie.html">
                                            <u>
                                                Zowie Store
                                            </u>
                                        </a>
                                    </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="height">
                                        <img title="Rival 600" src="{{ url_for('static',filename='img/mouse4.jpg') }}" alt="Rival 600">
                                </div>  
                            </div>
                            <div class="col-md-3">
                                <div class="myorders">
                                    180
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/mouse4.html">
                                                <u>
                                                    Rival 600
                                                </u>
                                            </a>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/steelseries.html">
                                                <u>
                                                    SteelSeries
                                                </u>
                                            </a>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <div class="height">
                                            <img title="Razer Mamba" src="{{ url_for('static',filename='img/mouse5.jpg') }}" alt="Razer Mamba">
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="myorders">
                                        500
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/mouse5.html">
                                                    <u>
                                                        Razer Mamba
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/razer.html">
                                                    <u>
                                                        Razer Store
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-3">
                                        <div class="height">
                                                <img title="Logitech G903" src="{{ url_for('static',filename='img/mouse6.jpg') }}" alt="Logitech G903">
                                        </div>  
                                    </div>
                                    <div class="col-md-3">
                                        <div class="myorders">
                                            979
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="myorders">
                                                    <a href="../HTML/mouse6.html">
                                                        <u>
                                                                Logitech G903
                                                        </u>
                                                    </a>
                                                </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="myorders">
                                                    <a href="../HTML/logitech.html">
                                                        <u>
                                                            Logi Store
                                                        </u>
                                                    </a>
                                                </div>
                                    </div>
                                </div>
    </div>
</div>
{% endblock %}
