{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                    Phone
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                            <img title="iphone XR 128GB" src="{{ url_for('static',filename='img/phone1.jpg') }}" alt="iphone XR 1s">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                        5500
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/phone1.html">
                                    <u>
                                        iphone XR
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/apple.html">
                                    <u>
                                        Apple Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        <div class="height">
                                <img title="Huawei Mate30Pro" src="{{ url_for('static',filename='img/phone2.jpg') }}" alt="Huawei Mate30Pro">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="myorders">
                            5400
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/phone2.html">
                                        <u>
                                            Mate30 Pro
                                        </u>
                                    </a>
                                </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/huawei.html">
                                        <u>
                                            Huawei Store
                                        </u>
                                    </a>
                                </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <div class="height">
                                    <img title="Meizu 16Xs 64GB" src="{{ url_for('static',filename='img/phone3.jpg') }}" alt="Meizu 16Xs 64GB">
                            </div>  
                        </div>
                        <div class="col-md-3">
                            <div class="myorders">
                                2290
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/phone3.html">
                                            <u>
                                                Meizu 16Xs
                                            </u>
                                        </a>
                                    </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/meizu.html">
                                            <u>
                                                Meizu Store
                                            </u>
                                        </a>
                                    </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="height">
                                        <img title="Galaxy S10" src="{{ url_for('static',filename='img/phone4.jpg') }}" alt="Galaxy S10">
                                </div>  
                            </div>
                            <div class="col-md-3">
                                <div class="myorders">
                                    7500
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/phone4.html">
                                                <u>
                                                    Galaxy S10
                                                </u>
                                            </a>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/samsung.html">
                                                <u>
                                                    Samsung
                                                </u>
                                            </a>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <div class="height">
                                            <img title="vivo NEX 3 128GB" src="{{ url_for('static',filename='img/phone5.jpg') }}" alt="vivo NEX 3 128GB">
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="myorders">
                                        5599
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/phone5.html">
                                                    <u>
                                                        vivo NEX 3
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/vivo.html">
                                                    <u>
                                                        vivo Store
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-3">
                                        <div class="height">
                                                <img title="Apple iphone 8 plus" src="{{ url_for('static',filename='img/phone6.jpg') }}" alt="Apple iphone 8 plus">
                                        </div>  
                                    </div>
                                    <div class="col-md-3">
                                        <div class="myorders">
                                            4999
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="myorders">
                                                    <a href="../HTML/phone6.html">
                                                        <u>
                                                            iphone 8 plus
                                                        </u>
                                                    </a>
                                                </div>
                                    </div>
                                    <div class="col-md-3">
                                            <div class="myorders">
                                                    <a href="../HTML/apple.html">
                                                        <u>
                                                            Apple Store
                                                        </u>
                                                    </a>
                                                </div>
                                    </div>
                                </div>
    </div>
</div>
{% endblock %}
