{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                    Razer
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                        <img title="blackwidow" src="{{ url_for('static',filename='img/keyboard1.jpg') }}" alt="blackwidow">
                    </div>
                        
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                        799
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/keyboard1.html">
                                    <u>
                                        BlackWidow
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/razer.html">
                                    <u>
                                        Razer Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
            <div class="row">
                    <div class="col-md-3">
                        <div class="height">
                            <img title="Razer DeathAdder" src="{{ url_for('static',filename='img/mouse1.jpg') }}" alt="Razer DeathAdder">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="myorders">
                            250
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/mouse1.html">
                                        <u>
                                            DeathAdder
                                        </u>
                                    </a>
                                </div>
                    </div>
                    <div class="col-md-3">
                            <div class="myorders">
                                    <a href="../HTML/razer.html">
                                        <u>
                                            Razer Store
                                        </u>
                                    </a>
                                </div>
                    </div>
                </div>
                <div class="row">
                        <div class="col-md-3">
                            <div class="height">
                                <img title="Razer Mamba" src="{{ url_for('static',filename='img/mouse5.jpg') }}" alt="Razer Mamba">
                            </div>  
                        </div>
                        <div class="col-md-3">
                            <div class="myorders">
                                500
                            </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/mouse5.html">
                                            <u>
                                                Razer Mamba
                                            </u>
                                        </a>
                                    </div>
                        </div>
                        <div class="col-md-3">
                                <div class="myorders">
                                        <a href="../HTML/razer.html">
                                            <u>
                                                Razer Store
                                            </u>
                                        </a>
                                    </div>
                        </div>
                    </div>
                    <div class="row">
                            <div class="col-md-3">
                                <div class="height">
                                    <img title="Razer Nari" src="{{ url_for('static',filename='img/headphone1.jpg') }}" alt="Razer Nari">
                                </div>  
                            </div>
                            <div class="col-md-3">
                                <div class="myorders">
                                    230
                                </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/headphone1.html">
                                                <u>
                                                    Razer Nari
                                                </u>
                                            </a>
                                        </div>
                            </div>
                            <div class="col-md-3">
                                    <div class="myorders">
                                            <a href="../HTML/razer.html">
                                                <u>
                                                    Razer Store
                                                </u>
                                            </a>
                                        </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-3">
                                    <div class="height">
                                            <img title="Razer Huntsman Elite" src="{{ url_for('static',filename='img/keyboard6.jpg') }}" alt="Razer Huntsman Elite">
                                    </div>  
                                </div>
                                <div class="col-md-3">
                                    <div class="myorders">
                                        1349
                                    </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/keyboard6.html">
                                                    <u>
                                                             Huntsman Elite
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                                <div class="col-md-3">
                                        <div class="myorders">
                                                <a href="../HTML/razer.html">
                                                    <u>
                                                            Razer Store
                                                    </u>
                                                </a>
                                            </div>
                                </div>
                            </div>
    </div>
</div>
{% endblock %}
