<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Sign Up
    </title>
    
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}">
    <link media="(max-width:1025px)" rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap/css/mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/print.css') }}" media="print" />
    <meta name="keywords" content="wabao,Sign Up">
    <script src="{{ url_for('static',filename='javascript/jquery-3.4.1.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/main.js') }}"></script>
    <script src="{{ url_for('static',filename='javascript/signup.js') }}"></script>
    <!--  这段代码用于解决js读取flask json数据 -->
    <script type="text/javascript">
        var Server = {
            passing_data:{{ passing_data|tojson }}
      };
    </script>
</head>

<body>
     <a id='top' name="top">
    </a>
    <div class="top-navi">
        <div class="containers clear-float">
            <div class="fl">
                <a id="home" href="{{ url_for('index') }}">
                    Home
                </a>
            </div>
            <div class="fr">
                
                
                {% if user %}
                    <a class="item" href="./user.html">{{ user.username }}</a>
                    <a class="item" href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                    <label class="item" for="log-in">Log In</label>
                    <a class="item" href="{{ url_for('jump', file='signup.html') }}">
                        Sign Up
                    </a>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="none">
        <button id="log-in" class="btn btn-primary btn-lg item" data-toggle="modal" data-target="#myModal">Log in</button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="input-info">Username</div>
                        <input id="input-username" type="text" class="form-control">
                        <div class="input-info">Password</div>
                        <input id="input-password" type="password" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="login" type="button" class="btn btn-primary">Log In</button>
                        <label id="remember">
                            <input id="remember-me" type="checkbox" value="remember-me"> remember me
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header clear-float">
        <br>
        <br>
        <div class="container">
            <div class="row">

                <div class="col-md-3 logo">
                    <span class="icon">
                        wabao
                    </span>
                    <img id="icon" title="wabao-icon" src="{{ url_for('static',filename='img/wabao.png') }}" alt="wabao-icon">
                </div>

                
                <div class="col-md-6 search-bar">
                    <form action="{{ url_for('search') }}" method="GET">
                        <!-- name="q" -> address form: search/?q= -->
                    <input name="q" id="search" type="text" placeholder="Enter product name or price ">
                    <button type="submit">
                        Search
                    </button>
                </form>
                </div>
                

                <div class="col-md-3 cart">
                    <a href="./cart.html">
                        Cart
                        <img id="cart" title="cart" src="{{ url_for('static',filename='img/cart.png') }}" alt="cart">
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-3">

            </div>
            <div id="sign-form" class="col-md-6">
                    <div class="input-group-lg">
                        <div class="input-info">
                            User Name
                        </div>
                        <input id="name" type="text" class="form-control" placeholder="please enter user name with 6-20 characters">
                      </div> 
                    
                      <div class="status hidden">
                           Invalid name
                       </div>
                       <div class="input-group-lg">
                       <div class="input-info">
                            Age
                        </div>
                        <input id="age" type="text" class="form-control" placeholder="please enter your age">
                    </div>
                        <div class="status hidden">
                            Invalid age number or you are not 18-year-old
                        </div>
                        <div class="input-group-lg">
                        <div class="input-info">
                            Phone
                        </div>
                        <input id="phone" type="text" class="form-control" placeholder="please enter your phone number(11 digits)">
                    </div>
                       <div class="status hidden">
                           Invalid phone number
                       </div>
                       <div class="input-group-lg">
                       <div class="input-info">
                            Password
                        </div>
                        <input id="password" type="password" class="form-control" placeholder="please enter password with 8-32 characters">
                      </div> 
                      <div class="status hidden">
                        Invalid password
                       </div>
                       <div class="input-group-lg">
                       <div class="input-info">
                            Repeat Password
                        </div>
                        <input id="repeat-password" type="password" class="form-control" placeholder="please enter your password again to verify">
                       </div>
                       <div class="status hidden">
                           The passwords you entered are not the same
                       </div>

                       
                       <div class="input-info">
                        Verification Code
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="clear-padding col-md-6">
                                    <div class="input-group-lg">
                                    <input id="verification_code" type="text" class="form-control" placeholder="enter verification code">
                                    </div>
                            </div>
                            <div  class="col-md-6">
                                <div id="verification_image" class="row">
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                   
                   <div class="status hidden">
                       Invalid verification code
                   </div>

                       <div id="sign-btn" class="btn btn-success btn-lg">
                           Sign Up
                       </div>
            </div>
        </div>
    </div>

    <div class="footer clear-float">
        <div class="containers">
            <div>
                <time>
                    2019/10/21
                </time>
                | Feng Yunjia |
                <address>
                    China Sichuan Chengdu
                </address>
                <button id="print" class="btn btn-default" type="button" onclick="window.print()">
                    print this page
                </button>
            </div>
        </div>
    </div>
</body>

</html>