{% extends './navi.html' %}
{% block main %}
<div class="container grey">
    <div class="row">
            <div class="col-md-3">
                <div class="head">
                    vivo
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                      Price  
                </div>
                </div>
            <div class="col-md-3">
                <div class="head">
                    Product
                </div>
            </div>
            <div class="col-md-3">
                <div class="head">
                    Seller
                </div>
            </div>
        </div>
        <div class="row">
                <div class="col-md-3">
                    <div class="height">
                            <img title="vivo NEX 3 128GB" src="{{ url_for('static',filename='img/phone5.jpg') }}" alt="vivo NEX 3 128GB">
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="myorders">
                       5599
                    </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/phone5.html">
                                    <u>
                                        vivo NEX 3
                                    </u>
                                </a>
                            </div>
                </div>
                <div class="col-md-3">
                        <div class="myorders">
                                <a href="../HTML/vivo.html">
                                    <u>
                                        vivo Official Store
                                    </u>
                                </a>
                            </div>
                </div>
            </div>
    </div>
{% endblock %}
