<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        Wabao - The place you will find that you want!
    </title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- 注意此处所有静态文件需要放到static文件夹下，并且使用url_for()函数导入链接   -->
    <link media="(max-width:991px)" rel="stylesheet" href="{{ url_for('static', filename='css/mobile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/print.css') }}" media="print" />
    <meta name="keywords" content="wabao,e-shopping,good products,reasonable price">
    <script src="{{ url_for('static', filename='javascript/jquery-3.4.1.js') }}"></script>
    <script src=".{{ url_for('static', filename='javascript/bootstrap/js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static', filename='javascript/main.js') }}"></script>
    <!--  这段代码用于解决js读取flask json数据 -->
    <script type="text/javascript">
        var Server = {
            passing_data: {
                {
                    passing_data | tojson
                }
            }
        };
    </script>
</head>

<body>


    <a id='top' name="top">
    </a>
    <div class="top-navi">
        <div class="containers clear-float">
            <div class="fl">
                <a id="home" href="{{ url_for('index') }}">
                    Home
                </a>
            </div>
            <div class="fr">

                
                
                {% if user %}
                <a class="item" href="./HTML/user.html">{{ user.username }}</a>
                <a class="item" href="{{ url_for('logout') }}">Log Out</a>
                {% else %}
                <label class="item" for="log-in">Log In</label>
                <a class="item" href="{{ url_for('jump', file='signup.html') }}">
                    Sign Up
                </a>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="none">
        <button id="log-in" class="btn btn-primary btn-lg item" data-toggle="modal" data-target="#myModal">Log
            in</button>
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>

                    <div class="modal-body">
                        <div class="input-info">Username</div>
                        <input id="input-username" type="text" class="form-control">
                        <div class="input-info">Password</div>
                        <input id="input-password" type="password" class="form-control">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                        <button id="login" type="button" class="btn btn-primary">Log In</button>
                        <label id="remember">
                            <input id="remember-me" type="checkbox" value="remember-me"> remember me
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="header clear-float">

        <br>
        <br>
        <div class="container">
            <div class="row">

                <div class="col-md-3 logo">
                    <span class="icon">
                        wabao
                    </span>
                    <img id="icon" title="wabao-icon" src="{{ url_for('static', filename='img/wabao.png') }}"
                        alt="wabao-icon">
                </div>
                <div class="col-md-6 search-bar">
                    <form action="{{ url_for('search') }}" method="GET">
                        <!-- name="q" -> address form: search/?q= -->
                        <input name="q" id="search" type="text" placeholder="Enter product name or price ">
                        <button type="submit">
                            Search
                        </button>
                    </form>
                </div>
                <div class="col-md-3 cart">
                    <a href="{{ url_for('jump', file='cart.html') }}">
                        Cart
                        <img id="cart" title="cart" src="{{ url_for('static', filename='img/cart.png') }}" alt="cart">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="promote_img" class="carousel slide" data-ride="carousel">
                    <ul class="carousel-indicators">
                        <li data-target="#promote_img" data-slide-to="0" class="active"></li>
                        <li data-target="#promote_img" data-slide-to="1"></li>
                        <li data-target="#promote_img" data-slide-to="2"></li>
                    </ul>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <a href="{{ url_for('jump', file='keyboard2.html') }}">
                                <img src="{{ url_for('static', filename='img/promote1.jpg') }}">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="{{ url_for('jump', file='mouse1.html') }}">
                                <img src="{{ url_for('static', filename='img/promote2.jpg') }}">
                            </a>
                        </div>
                        <div class="carousel-item">
                            <a href="{{ url_for('jump', file='keyboard1.html') }}">
                                <img src="{{ url_for('static', filename='img/promote3.jpg') }}">
                            </a>

                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#promote_img" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                    </a>
                    <a class="carousel-control-next" href="#promote_img" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <a id='top' href="#top">
            <img title="to-top" src="{{ url_for('static', filename='img/top.png') }}" alt="to-top">
        </a>
        <div class="cat-promote clear-float">
            <div class="title">
                <a href="{{ url_for('jump', file='keyboard.html') }}">
                    Keyboard
                </a>
            </div>
            <div class="row">
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='keyboard1.html') }}">
                            <img title="blackwidow" src="{{ url_for('static', filename='img/keyboard1.jpg') }}"
                                alt="blackwidow">
                        </a>
                        <div class="spe">
                            <p>
                                BlackWidow
                            </p>
                            <span class="line-through">
                                999
                            </span>
                            <span class="price">
                                799
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='keyboard2.html') }}">
                            <img title="Logitech G813" src="{{ url_for('static', filename='img/keyboard2.jpg') }}"
                                alt="Logitech G813">
                        </a>
                        <div class="spe">
                            <p>
                                Logitech G813
                            </p>
                            <span class="line-through">
                                1209
                            </span>
                            <span class="price">
                                1100
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='keyboard3.html') }}">
                            <img title="SteelSeries Apex 7" src="{{ url_for('static', filename='img/keyboard3.jpg') }}"
                                alt="SteelSeries Apex 7">
                        </a>
                        <div class="spe">
                            <p>
                                Apex 7
                            </p>
                            <span class="line-through">
                                699
                            </span>
                            <span class="price">
                                500
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='keyboard4.html') }}">
                            <img title="Zowie BenQ" src="{{ url_for('static', filename='img/keyboard4.jpg') }}"
                                alt="Zowie BenQ">
                        </a>
                        <div class="spe">
                            <p>
                                Zowie BenQ
                            </p>
                            <span class="line-through">
                                899
                            </span>
                            <span class="price">
                                800
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='keyboard5.html') }}">
                            <img title="Corsair K70" src="{{ url_for('static', filename='img/keyboard5.jpg') }}"
                                alt="Corsair K70">
                        </a>
                        <div class="spe">
                            <p>
                                Corsair K70
                            </p>
                            <span class="line-through">
                                2199
                            </span>
                            <span class="price">
                                1990
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='keyboard6.html') }}">
                            <img title="Razer Huntsman Elite"
                                src="{{ url_for('static', filename='img/keyboard6.jpg') }}" alt="Razer Huntsman Elite">
                        </a>
                        <div class="spe">
                            <p>
                                Huntsman
                            </p>
                            <span class="line-through">
                                1599
                            </span>
                            <span class="price">
                                1349
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
                <a href="{{ url_for('jump', file='mouse.html') }}">
                    Mouse
                </a>
            </div>
            <div class="row">
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='mouse1.html') }}">
                            <img title="Razer DeathAdder" src="{{ url_for('static', filename='img/mouse1.jpg') }}"
                                alt="Razer DeathAdder">
                        </a>
                        <div class="spe">
                            <p>
                                DeathAdder
                            </p>
                            <span class="line-through">
                                299
                            </span>
                            <span class="price">
                                250
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">

                    <div class="card">
                        <a href="{{ url_for('jump', file='mouse2.html') }}">
                            <img title="Logitech G502" src="{{ url_for('static', filename='img/mouse2.jpg') }}"
                                alt="Logitech G502">
                        </a>
                        <div class="spe">
                            <p>
                                Logitech G502
                            </p>
                            <span class="line-through">
                                399
                            </span>
                            <span class="price">
                                350
                            </span>
                        </div>
                    </div>

                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='mouse3.html') }}">
                            <img title="Zowie S2" src="{{ url_for('static', filename='img/mouse3.jpg') }}"
                                alt="Zowie S2">
                        </a>
                        <div class="spe">
                            <p>
                                Zowie S2
                            </p>
                            <span class="line-through">
                                599
                            </span>
                            <span class="price">
                                530
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">

                    <div class="card">
                        <a href="{{ url_for('jump', file='mouse4.html') }}">
                            <img title="Rival 600" src="{{ url_for('static', filename='img/mouse4.jpg') }}"
                                alt="Rival 600">
                        </a>
                        <div class="spe">
                            <p>
                                Rival 600
                            </p>
                            <span class="line-through">
                                229
                            </span>
                            <span class="price">
                                180
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">

                    <div class="card">
                        <a href="{{ url_for('jump', file='mouse5.html') }}">
                            <img title="Razer Mamba" src="{{ url_for('static', filename='img/mouse5.jpg') }}"
                                alt="Razer Mamba">
                        </a>
                        <div class="spe">
                            <p>
                                Razer Mamba
                            </p>
                            <span class="line-through">
                                699
                            </span>
                            <span class="price">
                                500
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='mouse6.html') }}">
                            <img title="Logitech G903" src="{{ url_for('static', filename='img/mouse6.jpg') }}"
                                alt="Logitech G903">
                        </a>
                        <div class="spe">
                            <p>
                                Logitech G903
                            </p>
                            <span class="line-through">
                                1099
                            </span>
                            <span class="price">
                                979
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="title">
                <a href="{{ url_for('jump', file='headphone.html') }}">
                    Headphone
                </a>
            </div>
            <div class="row">
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='headphone1.html') }}">
                            <img title="Razer Nari" src="{{ url_for('static', filename='img/headphone1.jpg') }}"
                                alt="Razer Nari">
                        </a>
                        <div class="spe">
                            <p>
                                Razer Nari
                            </p>
                            <span class="line-through">
                                299
                            </span>
                            <span class="price">
                                230
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='headphone2.html') }}">
                            <img title="Zowie Hammer" src="{{ url_for('static', filename='img/headphone2.jpg') }}"
                                alt="Zowie Hammer">
                        </a>
                        <div class="spe">
                            <p>
                                Hammer
                            </p>
                            <span class="line-through">
                                499
                            </span>
                            <span class="price">
                                430
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='headphone3.html') }}">
                            <img title="Logitech H340" src="{{ url_for('static', filename='img/headphone3.jpg') }}"
                                alt="Logitech H340">
                        </a>
                        <div class="spe">
                            <p>
                                Logitech H340
                            </p>
                            <span class="line-through">
                                399
                            </span>
                            <span class="price">
                                330
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='headphone4.html') }}">
                            <img title="Bose NC700" src="{{ url_for('static', filename='img/headphone4.jpg') }}"
                                alt="Bose NC700">
                        </a>
                        <div class="spe">
                            <p>
                                Bose NC700
                            </p>
                            <span class="line-through">
                                2199
                            </span>
                            <span class="price">
                                2000
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='headphone5.html') }}">
                            <img title="Solo Wireless" src="{{ url_for('static', filename='img/headphone5.jpg') }}"
                                alt="Solo Wireless">
                        </a>
                        <div class="spe">
                            <p>
                                Solo Wireless
                            </p>
                            <span class="line-through">
                                2299
                            </span>
                            <span class="price">
                                1990
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='headphone6.html') }}">
                            <img title="Bose QuietComfort 35 wireless headphones II"
                                src="{{ url_for('static', filename='img/headphone6.jpg') }}"
                                alt="Bose QuietComfort 35 wireless headphones II">
                        </a>
                        <div class="spe">
                            <p>
                                Bose QC35
                            </p>
                            <span class="line-through">
                                2499
                            </span>
                            <span class="price">
                                2550
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="title">
                <a href="{{ url_for('jump', file='phone.html') }}">
                    Phone
                </a>
            </div>
            <div class="row">
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='phone1.html') }}">
                            <img title="iphone XR 128GB" src="{{ url_for('static', filename='img/phone1.jpg') }}"
                                alt="iphone XR 128GB">
                        </a>
                        <div class="spe">
                            <p>
                                iphone XR
                            </p>
                            <span class="line-through">
                                5799
                            </span>
                            <span class="price">
                                5500
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='phone2.html') }}">
                            <img title="Huawei Mate30Pro" src="{{ url_for('static', filename='img/phone2.jpg') }}"
                                alt="Huawei Mate30Pro">
                        </a>
                        <div class="spe">
                            <p>
                                Mate 30 Pro
                            </p>
                            <span class="line-through">
                                5800
                            </span>
                            <span class="price">
                                5400
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">

                    <div class="card">
                        <a href="{{ url_for('jump', file='phone3.html') }}">
                            <img title="Meizu 16Xs 64GB" src="{{ url_for('static', filename='img/phone3.jpg') }}"
                                alt="Meizu 16Xs 64GB">
                        </a>
                        <div class="spe">
                            <p>
                                Meizu 16Xs
                            </p>
                            <span class="line-through">
                                2499
                            </span>
                            <span class="price">
                                2290
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='phone4.html') }}">
                            <img title="Galaxy S10" src="{{ url_for('static', filename='img/phone4.jpg') }}"
                                alt="Galaxy S10">
                        </a>
                        <div class="spe">
                            <p>
                                Galaxy S10
                            </p>
                            <span class="line-through">
                                7699
                            </span>
                            <span class="price">
                                7500
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='phone5.html') }}">
                            <img title="vivo NEX 3 128GB" src="{{ url_for('static', filename='img/phone5.jpg') }}"
                                alt="vivo NEX 3 128GB">
                        </a>
                        <div class="spe">
                            <p>
                                vivo NEX 3
                            </p>
                            <span class="line-through">
                                5698
                            </span>
                            <span class="price">
                                5599
                            </span>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 responsive">
                    <div class="card">
                        <a href="{{ url_for('jump', file='phone6.html') }}">
                            <img title="Apple iphone 8 plus" src="{{ url_for('static', filename='img/phone6.jpg') }}"
                                alt="Apple iphone 8 plus">
                        </a>
                        <div class="spe">
                            <p>
                                iphone 8 plus
                            </p>
                            <span class="line-through">
                                5200
                            </span>
                            <span class="price">
                                4999
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>





    <div class="footer clear-float">
        <div>
            <time>
                2019/10/21
            </time>
            | Feng Yunjia |
            <address>
                China Sichuan Chengdu
            </address>
            <button id="print" class="btn btn-default" type="button" onclick="window.print()">
                print this page
            </button>
        </div>
    </div>
</body>

</html>